* {
	box-sizing: border-box;
}
.image-container {
	position: relative;
}

.image {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.image-button {
	position: absolute;
	display: block;
	width: 200px;
	background-color: bisque;
	filter: opacity(0.5);
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	line-height: 48px;
	top: calc(50% - 25px);
	left: calc(50% - 100px);
	cursor: pointer;
}
.image-button:hover {
	filter: opacity(1);
}
