* {
	box-sizing: border-box;
}
.content{
	margin-left: 1px;
}
span {
	text-transform: lowercase;
	font-family: Verdana;
	padding: 8px;
	background-color: #faebd7;
	border-radius: 4px;
	
}
/* .container {
}
.products > div {
}
.navigation {
	display: flex;
	height: 200px;
	background-color: #ff7f50;
}

.product-list {
	display: flex;
	height: 200px;
	background-color: #006400;
}
.news {
	display: flex;
	height: 200px;
	background-color: #0ff;
}

@media screen and (min-width: 600px) {
	.products {
		display: flex;
	}
	.products > div {
		flex-grow: 1;
	}
}
@media screen and (min-width: 900px) {
	.container {
		display: flex;
	}
	.products {
		flex-grow: 2;
	}
	.news {
		flex-grow: 1;
	}
} */
.content {
}
.container {
}
.container > div {
	display: flex;
	height: 200px;
	justify-content: center;
	align-items: center;
}
.navigation {
	background-color: #ff7f50;
}
.product-list {
	background-color: #006400;
}
.news {
	background-color: #0ff;
}
@media screen and (min-width: 600px) {
	.container {
		display: flex;
		flex-wrap: wrap;
	}
	.container > div {
		flex: 0 0 50%;
	}
	.container > div:last-child {
		flex: 0 0 100%;
	}
}
@media screen and (min-width: 900px) {
	.container > div {
		flex: 0 0 33.333%;
	}
	.container > div:last-child {
		flex: 0 0 33.333%;
	}
}
