* {
	box-sizing: border-box;
}
ul {
	margin: 0;
	padding: 0;
}
div.text {
	position: relative;
	margin: 16px;
	border-bottom: 1px dotted black;
	display: inline-block;
}
div.text:hover span.tooltip{
	display: inline-block;
}
span.tooltip {
	display: none;
	background-color: grey;
	color: white;
	border-radius: 4px;
	padding: 8px;
	position: absolute;
	bottom: -40px;
	left: 0;
}
