* {
	padding: 50px;
	box-sizing: border-box;
}
div {
	border: 2px solid;
}

body > div {
	background-color: blue;
}
body > div > div {
	background-color: yellow;
}
body > div > div > div {
	background-color: green;
}
body > div > div > div > div {
	background-color: pink;
}
