* {
	box-sizing: border-box;
}

div {
	border: 2px solid;
	padding: 50px;
}
/* div {
	background-color: white;
} */
div {
	background-color: blue;
}
div > div {
	background-color: yellow;
}
div > div > div {
	background-color: green;
}
div > div > div > div {
	background-color: pink;
}
