* {
	box-sizing: border-box;
}
html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.header {
	height: 3em;
	padding: 0 1em;
	background-color: #eee;
}
button {
	padding: 0;
	outline: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
	height: 100%;
}
i {
	font-size: 2em;
}
.main {
}
.navigation {
	display: none;
	width: 20vw;
	padding: 0.5em;
}
.nav-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.nav-list-item {
	background-color: #808080;
	color: #fff;
	line-height: 2em;
	margin-bottom: 0.5em;
}
.nav-list-link {
	padding: 0.5em;
	display: block;
	text-decoration: none;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media screen and (min-width: 600px) {
	.header {
		display: none;
	}
	.navigation {
		display: block;
	}
}
