/* body {
	font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
} */
* {
	margin: 0;
	padding: 0;
	margin: 0px 0px 0px -32px;
	padding: 0px 0px 13px 0px;
}
/* li {
	list-style-type: none;
}
.container {
}
.list {
	font-size: 1.5em;
}
.first {
	text-decoration: overline;
	text-decoration-color: red;
}
.second {
	text-decoration: line-through;
}
.third {
	text-decoration: underline;
	text-decoration-color: green;
} */
