* {
	box-sizing: border-box;
}
body {
	/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
	line-height: 1;
}
/* ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
} */
li {
	list-style-type: none;
	font-size: 1.5em;
}
.container {
}
.list {
	font-size: 16px;
}
.first {
	text-decoration: overline;
	text-decoration-color: red;
}
.second {
	text-decoration: line-through;
}
.third {
	text-decoration: underline;
	text-decoration-color: green;
	padding-bottom: 0px;
}
pre {
	margin: 0;
	/* font-size: 12.5px; */
	font-size: 12.5px;
}
