.theory::first-letter {
	font-size: 36px;
	margin: 0px 0px 0px 16px;
	color: orange;
}
.theory::first-line {
	font-size: 24px;
}
.theory:selection {
	background-color: red;
	color: white;
}
a::before {
	content: "> ";
}
a::after {
	content: " <";
}
