* {
	box-sizing: border-box;
}
.articles {
	display: flex;
	flex-wrap: wrap;
}
.articles > div {
	height: 100px;
	width: 100px;
	background-color: beige;
	margin: 16px;
}
.visible-text {
}
.cropped {
	overflow: hidden;
}
.both-scrolls {
	overflow: scroll;
	cursor: all-scroll;
}
.vertical-scroll {
	overflow-y: auto;
	cursor: all-scroll;
}
