input[type="checkbox"]:checked {
	margin: 0px 0px 0px 50px;
}
label {
	text-transform: uppercase;
}
#specia::first-letter {
	color: green;
	font-size: 100px;
}
h1:hover {
	color: blue;
}
a:visited {
	color: grey;
}
