li {
	margin: 0px 0px 16px 0px;
}
li:first-child span {
	background-color: red;
	color: white;
}
li:last-child span {
	background-color: black;
	color: white;
}
li:nth-child(even) span {
	margin: 0px 0px 16px 16px;
}
.paragraphs p:nth-of-type(odd) {
	background-color: grey;
}
