* {
	box-sizing: border-box;
}
body {
	font-family: Roboto;
}
/* ul {
	margin: 0;
	padding: 0;
} */
li {
	list-style-type: none;
	font-size: 1.5em;
}
.container {
}
.list {
}
.first {
	text-decoration: overline;
	text-decoration-color: red;
}
.second {
	text-decoration: line-through;
}
.third {
	text-decoration: underline;
	text-decoration-color: green;
}
