* {
	box-sizing: border-box;
}
.header {
	height: 50px;
	color: yellow;
}
.content {
	float: left;
	width: 80%;
}
.sidebar {
	float: left;
	width: 20%;
}
.footer {
	clear: both;
	height: 50px;
	color: green;
}
