.navigation {
}

.topic {
}
.most-popular {
}
a[target="_blank"] {
	color: green;
}
ol,
ul {
	color: yellow;
}
footer,
header {
	border: 3px dashed blue;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px 0px 0px 20px;
}
article.new {
	font-size: 24px;
}
li.new {
	background-color: red;
}
.new,
.posted-today {
	text-decoration: underline;
	text-decoration-color: pink;
}
